<div class="container border p-1 my-2 rounded bg-light shadow-sm">
  <div class="row mb-3 mt-1 rounded">
    <div class="text-decoration-underline">Nombre:</div>
    <div>
      {{objetoMensaje.name}}
    </div>
  </div>
  <div class="row mb-3 mt-1 rounded">
    <div class="text-decoration-underline">E-mail:</div>
    <div>
      {{objetoMensaje.email}}
    </div>
  </div>
  <div class="row mb-3 mt-1 rounded">
    <div class="text-decoration-underline">Message:</div>
    <div>
      {{objetoMensaje.message}}
    </div>
  </div>
</div>
