<div class="container">
  <h1>Alta cliente</h1>
  <div class="row justify-content-center">
    <form class="col-md-6" (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="mb-3">
        <label for="inputNombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputNombre" name="nombre" [(ngModel)]="nombre" />
      </div>
      <div class="mb-3">
        <label for="inputCif" class="form-label">CIF</label>
        <input type="text" class="form-control" name="cif" id="inputCif" [(ngModel)]="cif" />
      </div>
      <div class="mb-3">
        <label for="inputDireccion" class="form-label">Dirección</label>
        <input type="text" class="form-control" name="inputDireccion" id="inputDireccion" [(ngModel)]="direccion" />
      </div>

      <div class="mb-3">
        <label class="form-check-label" for="selectGrupo">Grupo</label>
        <select id="selectGrupo" class="form-select" aria-label="Default select example" name="grupo"
          [(ngModel)]="grupo">
          <option selected value="Grupo 1">Grupo 1</option>
          <option value="Grupo 2">Grupo 2</option>
        </select>
      </div>
      <button class="btn btn-primary" (click)="addNewCliente()">Guardar</button>

    </form>
  </div>
</div>
